@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="glyphicon-home">
        <button class="glyphicon-menu-left create">Create</button>
        <button class="glyphicon-menu-left list">Read</button>
    </div>
    <div class="data-container">

    </div>
</div>
