@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="glyphicon-home">
        <button class="glyphicon-menu-left create">Create</button>
        <button class="glyphicon-menu-left">Read</button>
        <button class="glyphicon-menu-left">Update</button>
        <button class="glyphicon-menu-left">Delete</button>
    </div>
</div>
